{% extends 'base.html' %}


{% block content %}

    <about _nghost-c2="" class="ng-star-inserted">
        <div _ngcontent-c2="" class="container section-container">
            <div _ngcontent-c2="" class="content">
                <div _ngcontent-c2="" class="block">
                    <h3 _ngcontent-c2="">О проекте</h3>
                    <p _ngcontent-c2=""> Наша компания реализует проект по созданию, реконструкции и эксплуатации
                        общественной водной сети в Санкт-Петербурге.
                    </p>
                    <p _ngcontent-c2="">  Жителей и гостей нашего города будут перевозить современные, высокотехнологичные подвижные
                        составы.</p>
                    <p _ngcontent-c2=""> А инновационные решения организации движения, безусловно, будут способствовать возвращению
                        статуса Санкт-Петербургу речной столицы.
                        Санкт-Петербурга.</p>
                </div>
            </div>
        </div>
    </about>

{% endblock %}
