{% extends 'base.html' %}


{% block content %}

    <about _nghost-c2="" class="ng-star-inserted">
        <div _ngcontent-c2="" class="container section-container">
            <div _ngcontent-c2="" class="content">
                <div _ngcontent-c2="" class="block">
                    <h3 _ngcontent-c2="">О проекте</h3>
                    <p _ngcontent-c2=""> Наша компания реализует проект по созданию, реконструкции и эксплуатации
                        трамвайной сети в Красногвардейском районе
                        Санкт-Петербурга.</p>
                    <p _ngcontent-c2=""> «Чижик» - первый проект комплексной реконструкции трамвайного движения.</p>
                    <p _ngcontent-c2=""> Мы стремимся создать комфортную и безопасную среду, отвечающую европейским
                        стандартам транспортной системы и сервиса.</p>
                    <p _ngcontent-c2=""> Жителей и гостей нашего города будут перевозить современные,
                        высокотехнологичные подвижные составы.</p>
                    <p _ngcontent-c2=""> «Чижик» - это быстрый, комфортный, безопасный трамвай.</p>
                    <p _ngcontent-c2=""> Не сомневаемся, мы вернем уважение и дружеское отношение горожан к трамвайному
                        сообщению. И «Чижик» станет «своим»,
                        близким городу.</p>
                    <p _ngcontent-c2=""> А инновационные решения организации движения, безусловно, будут способствовать
                        возвращению статуса Санкт-Петербургу
                        трамвайной столицы. </p>
                    <p _ngcontent-c2="" class="sign"> С Уважением команда "ТКК" ("Транспортная концессионная
                        компания") </p>
                </div>
            </div>
        </div>
    </about>

{% endblock %}
