{% block title %}<title>Расписание</title>{% endblock %}


{% block content %}
    <h1>Расписание движения</h1>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Маршрут</th>
                <th>Время отправления</th>
                <th>Время прибытия</th>
            </tr>
            </thead>
            <tbody>
            {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.route.name }}</td>
                    <td>{{ schedule.departure_time }}</td>
                    <td>{{ schedule.arrival_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
